%h1 Listing channels

%table
  %thead
    %tr
      %th Channel
      %th
      %th
      %th

  %tbody
    - @channels.each do |channel|
      %tr
        %td= channel.channel
        %td= link_to 'Show', channel
        %td= link_to 'Edit', edit_channel_path(channel)
        %td= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Channel', new_channel_path
