
%p#notice= notice

%p
  %b Channel:
  = @channel.channel_name
  = render 'shared/discussions'
-if has_role?(:admin)
  = link_to 'Edit', edit_channel_path(@channel)
  \|
= link_to 'Back', channels_path
